.vscode/**
.vscode-test/**
node_modules
src/**
resources/external
.gitignore
.prettierrc
**/package-lock.json
**/tsconfig.json
**/tslint.json
**/token.json
**/webpack.config.js

**/*.map
**/*.ts


out/test/**
